body {
    background-color: #FC8A8A;
}

header{
    background-color: #AB96FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav-link:hover{
    text-shadow: 3px 3px black;
    color: #6F0902;
    transition:  0.3s;
}

.zag{
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-div p{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

article a{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    background-color: #8FAFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 221px;
    height: 55px;
    margin: 5% 5% 5% 0%;
}
.info-butt{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.info{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}


.menu h2{
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


.menu{
    width: 100%;
}
.menu-div{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.menu-img{
    width: 35%;  
}
.menu-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-info h3{
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.menu-text{
    width: 90%;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sallary{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sales h1{
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 130px;
}

.all_sales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sale{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales h2{
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.about_us h1{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 110px;
}

.about_us li{
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about_us p{
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about_us{
    padding: 50px;
}

footer{
    background-color: #B79EFF;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

footer h2{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer p{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socials{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
